<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat Da Burger!</title>
	<link rel="icon" href="../../public/assets/img/favicon.png" type="image/gif" sizes="16x16">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html >