<li class="list-group-item mb-2">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            {{burger_name}}
        </div>
        <div class="d-flex align-items-center">
            {{#if devoured}}
                <button type="button" class="btn btn-primary devoure btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
                    Devour
                </button>
            {{/if}}
            <button action="burgers/:id" method="DELETE" type="button" class="btn-close delete btn-sm btn-danger" data-id="{{this.id}}"></button>
        </div>
    </div>
</li>



